.main-content {
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

.request-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #E6E6E6;
}

.request-table th, .request-table td {
  padding: 15px;
  text-align: left;
  border-right: 1px solid #ffffff;
}

.request-table th:last-child, .request-table td:last-child {
  border-right: none;
}

.request-table th {
  background-color: #D3D3D3;
  font-weight: bold;
}

.request-table tr {
  height: 50px;
}

.request-table th:last-child, .request-table td:last-child {
  border-right: none;
}
