.card {
  border: 1px solid #9B7EBD; /* Border color from the theme */
  border-radius: 4px;
  background-color: #D4BEE4; /* Background color from the theme */
  overflow: hidden;
  text-align: center;
  margin: 10px;
  width: 300px;
  height: 800px; /* Corrected to lowercase 'px' */
  margin-right: 1px;
}

.form {
margin-left: 300px;
}

.mx-auto.mt-5.card {
  width: 915px;
  height: 1000px;
}

.custom-label {
  text-align: left;
  display: block;
}

.input-data {
  margin-top: -40px;
  margin-left: 40px;
  width: 350px;
}

.rounded-circle-1 {
  width: 100px;  /* Adjust width */
  height: 100px; /* Adjust height */
  object-fit: cover; 
  border: 3px solid #3B1E54; /* Border color from the theme */
  padding: 5px; /* Adjust padding inside the frame */
  background-color: #D4BEE4; /* Background color from the theme */
  display: block;
  margin: 0 auto;
}

.white-line {
  border: none;       /* Remove default border */
  height: 2px; 
  width: 140px;       /* Set height of the line */
  background-color: #3B1E54; /* Background color from the theme */
  margin: 20px 0;   
  margin-top: -30px;
}